{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}</title>

    {{ with .Description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    <link rel="stylesheet" href="../../static/css/output.css">
    <link rel="shortcut icon" href="../../static/images/logo.svg" type="image/x-icon">
</head>

<body>
    {{ template "header" . }}

    <main>
        {{ template "content" . }}
    </main>

    {{ template "footer" . }}
</body>
</html>
{{ end }}