@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-brand: #26A69A;
    --color-brand-dark: #218F86;
    --color-brand-light: #5FC8BE;

    --color-ink: #18312F;

    --color-cream: #F7F5F1;
}